<!doctype html>
<html>
	<head>
		<title>TON Casino 777</title>
    <meta charset = 'utf-8' />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="static/css/main.css">
		<link rel="stylesheet" type="text/css" href="static/css/loading-animation.css">

		<script src="static/lib/jsbn_combined.js"></script>
		<script src="static/lib/crypto.js"></script>
		<script src="static/lib/nacl.js"></script>
		<script src="static/bin-utils.js"></script>
		<script src="static/crypto-utils.js"></script>
		<script src="static/cells.js"></script>
		<script src="static/blockchain_api.js"></script>
	</head>

	<body>
		<div class="main-container">
			<div class="full-container">
				<div class="container header">
					<p>Hello World</p>
					<p>1 GRM = 0.7545 USD / 47.095 RUB </p>
				</div>
				<div class="game-container">
					<div class="squares-container">
						<table class="squares"></table>
					</div>
					<div class="container-right">
						<div class="container container-info">
							<b>You Wallet</b>
							<div id="walletInfo">
								<p>Address: -</p>
								<p>Sequence number: -</p>
								<p>Subwallet id: -</p>
								<p>Balance: -</p>
							</div>
							<b>Game Info</b>
							<div id="casinoInfo">
								<p>Address: -</p>
								<p>End time: -</p>
								<p>Square price: -</p>
								<hr>
								<p>You squares: -</p>
								<p>Сhance: -</p>
							</div>
						</div>
						<div class="container">
							<a class="button" color="blue" onclick="buyCells()">Buy!</a>
							<a class="button" color="blue" id="goToCurSt">Go to current state<progress class="progress-round"></progress></a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="message-background" id="mbg" active="true" >
			<div class="message">
				<form class="login-form">
					<a class="button" color="blue" id="casinoAddrButton">
						Casino contract address <progress class="progress-round"></progress></a>
					<p id="casinoAddrLabel"></p>
					<a class="button" color="blue" id="walletAddrButton">You wallet address
						<progress class="progress-round"></progress></a>
					<select id="versionSelect">
						 <option>Version 1</option>
						 <option>Version 2</option>
						 <option>Version 3</option>
					 </select>
					<p id="walletAddrLabel"></p>
					<a class="button" color="blue" id="privateKeyButton">	You wallet private key </a>
					<p id="privateKeyLabel"></p>
					<a class="button" color="blue" active="false" id="loginButton">	Login	</a>
					<input id="privateKey" type="file" accept=".pk">
					<input id="walletAddr" type="file" accept=".addr">
					<input id="casinoAddr" type="file" accept=".addr">
				</form>
			</div>
		</div>


		<script src="static/squares.js"></script>
		<script src="static/main.js"></script>

	</body>
</html>
